<!DOCTYPE html>
<html>
  <head>
    <title>Eigth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <hr>
    <%= link_to "Home", root_path %>
    <hr>
    <%= flash[:success].blank? ? "&nbsp;".html_safe : flash[:success] %>
    <%= flash[:error].blank? ? "&nbsp;".html_safe : flash[:error] %>
    <hr>
    <%= yield %>
  </body>
</html>
