<!DOCTYPE html>
<html>
  <head>
    <title>Eigth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <hr>
    <%= current_user.authenticated? ? (link_to "Home", root_path) : "&nbsp;".html_safe %>
    <span class="menu-bar">|</span>
    <%= current_user.authenticated? ? (link_to "Sign out", session_path, method: :delete) : "&nbsp;".html_safe %>
    <hr>
    <ul style="list-style-type: none; margin-top: 5px; padding: 0;">
      <li><%= flash[:success] || flash[:error] || "&nbsp;".html_safe %></li>
    </ul>
    <%= yield %>
  </body>
</html>
